p {
  margin: 0.8rem 0rem;
}

.step-container {
  min-width: 400px;
  padding: 0px 30px;
}

table {
  font-family: 'Ubuntu', sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.1rem;
}

td,
th {
  text-align: left;
  padding: 0.8rem;
  font-weight: 700;
}

tr {
  border-bottom: 1px solid #d8d8d8;
}

tr:nth-child(odd) {
  background-color: #ededed;
}

tr:nth-child(1) {
  background-color: white;
}

td:nth-child(n + 2),
th:nth-child(n + 2) {
  text-align: center;
}

.plan {
  color: #494949;
  height: 10rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  background-color: #ededed;
  border-radius: 3px;
  padding: 10px;
  max-width: 8rem;
  margin: 0;
}

#plan-type {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}

#plan-price {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0.3rem 0;
}

#plan-details {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0.3rem 0;
}

.plan p {
  margin: 0;
}

.tacbox {
  display: block;
  max-width: 20rem;
}

.form {
  display: flex;
  margin: 1rem 0 2rem 0;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.form input {
  font-size: 1.1rem;
  max-width: 13rem;
  color: #555555;
}

#input-detail {
  font-size: 0.9rem;
  margin: 0.2rem 0 0 0;
  max-width: 13rem;
  color: #aaadb1;
}

.form p {
  margin-bottom: 0.3rem;
  font-weight: 500;
  color: #555555;
}

input[type='checkbox'] {
  vertical-align: middle;
}

hr {
  border: none;
  border-top: 2px dashed #dddcdc;
  color: #fff;
  background-color: #fff;
  height: 2px;
  width: 100%;
}

#message {
  max-width: 45rem;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  color: #989698;
  padding-bottom: 2rem;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-heading {
  font-weight: 500;
  color: #494949;
  font-size: 1.5rem;
  margin: 0 0 1.3rem 0;
}

.nxt-btn {
  max-width: 14rem;
  font-size: 1rem;
  max-height: 3rem;
}

.heading {
  font-weight: 600;
  color: #494949;
  font-size: 1.2rem;
  margin: 0;
}

#membership-details {
  margin: 0.2rem 0 1.2rem 0;
  font-size: 1rem;
  max-width: 30rem;
  color: #989698;
  font-weight: 400;
}

#payment-msg {
  color: #989698;
  font-weight: 500;
  font-size: 1rem;
  max-width: 35rem;
  margin: 0 0 0 1rem;
}

#payment-head {
  margin: 1.5rem 0 3rem 0;
}

#card-input {
  height: 2rem;
  font-size: 1rem;
  margin: 1rem 0 1rem 0;
}
